body {
  font-family: "Lato", sans-serif;
  background-image: url("Fondoprincipal.jpg");
  background-size: cover;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav ul{
  
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0; 

}

.sidenav ul ul{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  right: -200px;  
  top: 50px 
}

#sub2{
  right: -180px;
  top : 0px;
}


#tipContainer{
  margin-top: 5rem;
  text-align: center;
  float: right;
  border: solid white;
  width: 50%;
}

#contactBox{
  display: flex;
  position: fixed;
  align-content: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

#instagram{
  margin-right: 20px;
}

#instaLogo{
  border-radius: 25%;
}

#store{
  margin-left: 20px;
}

#mercadolibre{
  border-radius: 25%;
}

/*Start of the style for Tortas Tradicionales*/
.cardContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 80px;
  grid-template-areas: "image" "info";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
}

.cardImage{
  grid-area: image;
}

.cardInfo{
  grid-area: info;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
